.company-outline-section-01 {
	padding: 70px 0 90px;
	@media screen and (max-width: 768px) {
		padding: 28px 0;
	}
}

.company-outline-section-02 {
	padding: 88px 0 120px;
	@media screen and (max-width: 768px) {
		padding: 40px 0 80px;
	}
	.container {
		background: url("../img/company/outline/daikoh-bg.png") no-repeat right 10px top 210px;
		background-size: 604px auto;
		@media screen and (max-width: 768px) {
			background-size: 302px auto;
		}
		@media screen and (max-width: 480px) {
			background: url("../img/company/outline/daikoh-bg.png") no-repeat right 15px top 750px;
			background-size: 302px auto;
		}
	}
}

.company-office-section-01 {
	padding: 20px 0 70px;
}

.company-intro {
	.company-intro-article {
		margin-bottom: 80px;
		@media screen and (max-width: 768px) {
			margin-bottom: 50px;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		&:nth-of-type(even) {
			.company-intro-content {
				.img-block {
					float: left;
					width: 350px;
					@media screen and (max-width: 768px) {
						float: none;
						width: 100%;
					}
				}
				.detail-block {
					float: right;
					width: calc(100% - 385px);
					@media screen and (max-width: 768px) {
						float: none;
						width: 100%;
					}
					.info-person {
						justify-content: flex-start;
					}
				}
			}
		}
		.company-intro-ttl {
			color: #000000;
			font-weight: 500;
			font-family: $font-mincho;
			@include font-size(32);
			margin-bottom: 35px;
			@media screen and (max-width: 768px) {
				margin-bottom: 15px;
				@include font-size(23);
			}
		}
		.company-intro-content {
			.img-block {
				width: 350px;
				float: right;
				@media screen and (max-width: 768px) {
					float: none;
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				.img {
					img {
						width: 100%;
					}
					@media screen and (max-width: 768px) {
						width: 48%;
					}
				}
				.info-person {
					@media screen and (max-width: 768px) {
						width: 48%;
					}
				}
			}
			.detail-block {
				float: left;
				width: calc(100% - 385px);
				@media screen and (max-width: 768px) {
					float: none;
					width: 100%;
				}
				p {
					line-height: 2;
					margin-bottom: 45px;
					@media screen and (max-width: 768px) {
						margin-bottom: 20px;
					}
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
			.info-person {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				@include font-size(16);
				justify-content: flex-end;
				@media screen and (max-width: 768px) {
					justify-content: flex-start;
				}
				.txt-lg {
					margin-left: 8px;
					@include font-size(24);
					@media screen and (max-width: 768px) {
						display: block;
						width: 100%;
						margin-left: 0;
					}
				}
			}
		}
	}
}

.list {
	&.list01 {
		.list-item {
			margin-bottom: 10px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

.table-scrollsp {
	overflow: auto;
}

.table {
	&.table01 {
		width: 100%;
		td, th {
			padding: 5px 10px;
			vertical-align: top;
			line-height: 1.8;
			@include font-size(16);
			@media screen and (max-width: 768px) {
				padding: 0;
			}
		}
		th {
			padding-left: 0;
		}
	}
	&.table02 {
		width: 1000px;
		margin-bottom: 35px;
		thead {
			th {
				padding: 16px 10px;
				background-color: #F2F2F2;
				text-align: center;
				@include font-size(20);
				border-right: 1px solid #E5E5E5;
				@media screen and (max-width: 768px) {
					@include font-size(18);
				}
				&:last-of-type {
					border-right: none;
				}
			}
		}
		tbody {
			tr {
				td {
					padding: 12px 10px;
					text-align: center;
					color: #000;
					@include font-size(16);
					border-right: 1px solid #E5E5E5;
					@media screen and (max-width: 768px) {
						@include font-size(14);
					}
					&:last-of-type {
						border-right: none;
					}
				}
				&:nth-of-type(even) {
					td {
						background-color: #FAF5F5;
					}
				}
			}
		}
	}
}

.office-intro-article {
	.office-intro-ttl {
		color: #000;
		font-weight: 500;
		font-family: $font-mincho;
		margin-bottom: 25px;
		line-height: 2;
		@include font-size(24);
		@media screen and (max-width: 768px) {
			line-height: 1.6;
			margin-bottom: 10px;
			@include font-size(23);
		}
	}
	.office-intro-content {
		margin-bottom: 25px;
		@media screen and (max-width: 480px) {
			margin-bottom: 10px;
		}
		.img-block {
			float: left;
			width: 38.5%;
			@media screen and (max-width: 480px) {
				width: 100%;
				float: none;
				margin-bottom: 15px;
			}
		}
		.detail-block {
			float: right;
			width: 58.7%;
			@media screen and (max-width: 480px) {
				float: none;
				width: 100%;
			}
			.list {
				.list-item {
					color: #000;
					line-height: 2;
					@include font-size(16);
					a {
						color: #000;
						line-height: 2;
						@include font-size(16);
					}
				}
			}
		}
	}
	.office-specs-list {
		.ttl {
			color: #D60000;
			font-weight: bold;
			margin-bottom: 15px;
			@include font-size(20);
			@media screen and (max-width: 768px) {
				@include font-size(18);
			}
			&:before {
				display: inline-block;
				content: '●';
				margin-right: 5px;
			}
		}
	}
	.office-intro-maps {
		.maps-link {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			text-align: right;
			color: #D60000;
			margin-top: 5px;
			@include font-size(16);
			&:after {
				display: block;
				content: '>';
				margin-left: 5px;
			}
		}
	}
}

.block-intro {
	margin-bottom: 70px;
	@media screen and (max-width: 768px) {
		margin-bottom: 60px;
	}
	&:last-of-type {
		margin-bottom: 0;
	}
}

.page-company_office {
	@media screen and (max-width: 480px) {
		margin-bottom: 45px;
	}
}