.feature-section-01 {
	padding: 35px 0 70px;
	@media screen and (max-width: 768px) {
		padding-bottom: 60px;
	}
}

.feature-section-02 {
	padding: 0 0 30px;
	@media screen and (max-width: 768px) {
		padding: 0;
	}
}

.progress-box-intro {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 768px) {
		flex-wrap: wrap;
	}
	.progress-box-intro-item {
		display: flex;
		flex-grow: 1;
		padding: 30px 0;
		align-items: center;
		color: #D60000;
		@include font-size(20);
		font-weight: bold;
		background-color: #F0F0F0;
		writing-mode: vertical-rl;
		position: relative;
		@media screen and (max-width: 768px) {
			width: 100%;
			writing-mode: horizontal-tb;
			display: block;
			text-align: center;
			padding: 20px 0;
			@include font-size(18);
		}
	}
	.arrows {
		display: block;
		content: '';
		width: 0;
		height: 0;
		border: 11px solid transparent;
		border-left: 11px solid #D60000;
		margin-top: 25px;
		margin-right: -11px;
		@media screen and (max-width: 768px) {
			margin: 0 auto -11px;
			border-left-color: transparent;
			border-top-color: #D60000;
		}
	}
}