.section-news {
	padding: 60px 0 75px;
	@media screen and (max-width: 768px) {
		padding: 70px 0;
	}
	.container {
		padding: 0 100px;
		@media screen and (max-width: 768px) {
			padding: 0;
		}
	}
}

.index-section-01 {
	.container {
		@media screen and (max-width: 768px) {
			padding: 0;
		}
	}
}