.news-list-section {
	padding-top: 35px;
	@media screen and (max-width: 768px) {
		padding-top: 15px;
	}
	.news-list {
		margin-bottom: 80px;
		@media screen and (max-width: 768px) {
			margin-bottom: 30px;
		}
		.news-list-item {
			@media screen and (max-width: 768px) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

.tab-list {
	display: flex;
	margin-bottom: 40px;
	@media screen and (max-width: 768px) {
		margin-bottom: 25px;
		justify-content: space-between;
	}
	li {
		border-right: 1px solid #999999;
		@media screen and (max-width: 768px) {
			display: flex;
			flex-grow: 1;
		}
		&:last-of-type {
			border-right: none;
		}
		a {
			display: inline-block;
			padding: 10px 73px;
			color: #1A1A1A;
			@include font-size(18);
			@include smooth-transition;
			@media screen and (max-width: 768px) {
				width: 100%;
				text-align: center;
				padding: 10px;
			}
			&.active {
				background-color: #999999;
				color: white;
				@include smooth-transition;
			}
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.pagination-item {
		border: 1px solid #E5E5E5;
		width: 300px;
		height: 45px;
		line-height: 45px;
		position: relative;
		@include smooth-transition;
		@media screen and (max-width: 768px) {
			border: none;
			border-right: 1px solid #E5E5E5;
			line-height: 1.4;
			height: auto;
			display: flex;
			flex-grow: 1;
			justify-content: center;
		}
		&:hover {
			box-shadow: 0 0 20px rgba(0, 0, 0, .3);
			@include smooth-transition;
		}
		&:after {
			display: block;
			content: '';
			background: url("../img/news/arrow-pagination.png") no-repeat center center;
			width: 22px;
			height: 11px;
			background-size: 100%;
			position: absolute;
		}
		a {
			display: block;
			color: #1A1A1A;
			position: relative;
			@include font-size(18);
		}
		&.pagination-prev {
			@media screen and (max-width: 768px) {
				padding-left: 40px;
			}
			&:after {
				left: 15px;
				top: 50%;
				transform: translateY(-50%) rotate(180deg);
				transform-origin: center center;
				@media screen and (max-width: 768px) {
					left: 0;
				}
			}
			a {
				text-align: right;
				padding-right: 23px;
				@media screen and (max-width: 768px) {
					padding-right: 45px;
				}
			}
		}
		&.pagination-next {
			@media screen and (max-width: 768px) {
				border-right: none;
				padding-right: 40px;
			}
			&:after {
				right: 15px;
				@include v-align;
				@media screen and (max-width: 768px) {
					right: 0;
				}
			}
			a {
				padding-left: 23px;
				@media screen and (max-width: 768px) {
					padding-left: 45px;
				}
			}
		}
	}
}