.articles {
	padding: 40px 0 30px;
	p {
		line-height: 1.8;
		margin-bottom: 10px;
		@include font-size(16);
	}
	h2 {
		color: #000000;
		@include font-size(28);
		font-weight: 500;
		font-family: $font-mincho;
		padding-left: 30px;
		position: relative;
		@media screen and (max-width: 768px) {
			padding-left: 20px;
			@include font-size(20);
		}
		&:before {
			display: block;
			content: '';
			width: 20px;
			height: 20px;
			background-color: black;
			position: absolute;
			top: 10px;
			left: 0;
			@media screen and (max-width: 768px) {
				width: 15px;
				height: 15px;
				top: 7px;
			}
		}
	}
	h3 {
		font-weight: bold;
		color: #D60000;
		margin-bottom: 5px;
		@include font-size(19);
		@media screen and (max-width: 768px) {
			@include font-size(16);
		}
	}
}