/* ====================================================
Base style & container
==================================================== */
body {
	color: black;
	font-size: 100%;
	line-height: 1.4;
	font-family: $font-gothic;
}

.container {
	display: block;
	margin: 0 auto;
	height: 100%;
	position: relative;
	&.container-sm {
		max-width: 1030px;
		padding: 0 15px;
	}
	&.container-md {
		max-width: 1230px;
		padding: 0 15px;
	}
	&.container-lg {
		max-width: 1400px;
		padding: 0;
	}
}

.pc {
	@media screen and (max-width: 768px) {
		display: none !important;
	}
}

.sp {
	@media screen and (min-width: 769px) {
		display: none !important;
	}
}

.page-content {
	margin-top: 80px;
	&.page-index {
		margin-top: 0;
	}
	@media screen and (max-width: 768px) {
		margin-top: 70px;
	}
}

.bg-gray {
	background-color: #FAFAFA;
}

/* ====================================================
Float & clear
==================================================== */
.clearfix {
	*zoom: 1;
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}

/* ====================================================
Header & footer
==================================================== */
#main-header {
	background-color: rgba(255, 255, 255, .85);
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 100;
	@include smooth-transition;
	@media screen and (max-width: 960px) {
		background-color: transparent;
	}
	@media screen and (max-width: 768px) {
		height: 70px;
	}
	&.solid {
		background-color: rgba(255, 255, 255, .85);
		@include smooth-transition;
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo {
		width: 335px;
		margin-left: 200px;
		@media screen and (max-width: 1366px) {
			margin-left: 15px;
		}
		@media screen and (max-width: 960px) {
			width: 280px;
		}
		@media screen and (max-width: 374px) {
			width: 220px;
		}
		img {
			width: 100%;
		}
	}
	.nav-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 960px) {
			display: block;
			padding-top: 100px;
			padding-right: 25px;
			position: fixed;
			left: 100%;
			top: 0;
			z-index: 9999;
			background: url("../img/common/menu-background.png") no-repeat #fff left 30px top 160px;
			background-size: 249px 180px;
			width: 100%;
			height: 100%;
			@include smooth-transition;
			&.is-display {
				left: 0;
				@include smooth-transition;
			}
			.sp {
				@media screen and (max-width: 960px) and (min-width: 769px) {
					display: block;
				}
			}
		}
		.global-nav {
			display: flex;
			margin-right: 23px;
			@media screen and (max-width: 1366px) {
				margin-right: 0;
			}
			@media screen and (max-width: 960px) {
				display: block;
			}
			li {
				@media screen and (max-width: 960px) {
					text-align: right;
					margin-bottom: 35px;
				}
				a {
					display: inline-block;
					padding: 29px 17px;
					color: #1A1A1A;
					@include font-size(16);
					@include smooth-transition;
					@media screen and (max-width: 960px) {
						padding: 0 30px 0 0;
						@include font-size(20);
						position: relative;
						&:after {
							display: inline-block;
							content: '';
							background: url("../img/common/sm-menu-arrow.png") no-repeat center center;
							width: 5px;
							height: 9px;
							background-size: 100% 100%;
							margin-left: 5px;
							position: absolute;
							right: 0;
							@include v-align;
						}
					}
					&[target="_blank"] {
						&:after {
							display: inline-block;
							content: '';
							background: url("../img/common/ext-link-icon-red.png") no-repeat center center;
							background-size: 100% 100%;
							width: 15px;
							height: 12px;
							margin-left: 5px;
						}
					}
					&:hover, &.current {
						@media screen and (min-width: 769px) {
							background-color: black;
							color: white;
							@include smooth-transition;
							&[target="_blank"] {
								&:after {
									background: url("../img/common/ext-link-icon.png") no-repeat center center;
									background-size: 100% 100%;
								}
							}
						}
					}
				}
			}
		}
		.cta {
			display: inline-flex;
			width: 340px;
			padding-left: 40px;
			align-items: center;
			color: white;
			@include font-size(16);
			height: 80px;
			background-color: #D0121B;
			@media screen and (max-width: 1366px) {
				padding-right: 40px;
				width: auto;
			}
			@media screen and (max-width: 960px) {
				display: none;
			}
			&:before {
				display: block;
				content: '';
				width: 0;
				height: 0;
				background-color: transparent;
			}
		}
	}
}

#main-footer {
	padding: 100px 0 50px;
	@media screen and (max-width: 768px) {
		padding: 100px 0 25px;
	}
	.container {
		@media screen and (max-width: 768px) {
			padding: 0 20px;
		}
	}
	.sitemap {
		margin-bottom: 60px;
		@media screen and (max-width: 768px) {
			display: none;
		}
		ul {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin: 0 auto 25px;
			li {
				margin-right: 35px;
				a {
					display: inline-block;
					padding-right: 35px;
					color: #1A1A1A;
					line-height: 1.6;
					@include font-size(14);
					border-right: 1px solid black;
					@include smooth-transition;
					&:hover {
						color: #D60000;
						@include smooth-transition;
					}
					&[target="_blank"] {
						&:after {
							display: inline-block;
							content: '';
							background: url("../img/common/ext-link-icon-red.png") no-repeat center center;
							background-size: 100% 100%;
							width: 15px;
							height: 12px;
							margin-left: 5px;
						}
					}
				}
				&:last-of-type {
					a {
						border-right: none;
					}
				}
			}
		}
	}
	.logo {
		text-align: center;
		margin-bottom: 25px;
		@media screen and (max-width: 768px) {
			margin-bottom: 40px;
		}
		img {
			width: 100px;
		}
	}
	.company-contact {
		margin-bottom: 15px;
		@media screen and (max-width: 768px) {
			margin-bottom: 30px;
		}
		* {
			text-align: center;
			color: #1A1A1A;
			line-height: 2;
			@include font-size(14);
			@media screen and (max-width: 768px) {
				line-height: 1.8;
				@include font-size(16);
			}
		}
		p {
			@media screen and (max-width: 768px) {
				margin-bottom: 20px;
			}
		}
		a[href^="tel:"] {
			@media screen and (min-width: 769px) {
				pointer-events: none;
			}
		}
		.block-sp {
			@media screen and (max-width: 768px) {
				display: block;
			}
			&.txt-head {
				@media screen and (max-width: 768px) {
					color: #D0121B;
				}
			}
		}
	}
	.company-desc {
		text-align: center;
		color: #808080;
		margin-bottom: 40px;
		@include font-size(12);
		@media screen and (max-width: 768px) {
			margin-bottom: 50px;
			line-height: 1.6;
			@include font-size(14);
		}
	}
	.copyright {
		text-align: center;
		margin-top: 30px;
		color: #1A1A1A;
		@include font-size(14);
		@media screen and (max-width: 768px) {
			margin-top: 10px;
			@include font-size(12);
		}
	}
}

/* ====================================================
Components
==================================================== */
.main-banner {
	position: relative;
	.banner-cta {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 55px;
		position: absolute;
		right: 0;
		bottom: 0;
		@include font-size(18);
		color: white;
		background-color: #D0121B;
		padding: 0 100px 0 40px;
		z-index: 1;
		@include smooth-transition;
		@media screen and (max-width: 1366px) {
			right: 15px;
		}
		@media screen and (max-width: 768px) {
			width: 88px;
			height: 88px;
			border-radius: 50%;
			@include font-size(12);
			text-align: center;
			bottom: 12px;
			padding: 25px 5px 0;
			.icon {
				position: absolute;
				@include h-align;
				top: 20px;
				margin: 0;
			}
		}
		&:before {
			display: block;
			content: '';
			width: 0;
			height: 0;
			border-bottom: 55px solid #D0121B;
			border-left: 55px solid transparent;
			position: absolute;
			right: 100%;
			top: 0;
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
		&:hover {
			opacity: .7;
			@include smooth-transition;
		}
	}
	.main-slideshow {
		max-width: 1400px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0 !important;
		.slick-dots {
			bottom: 50px;
			@media screen and (max-width: 768px) {
				bottom: 17px;
			}
			li {
				width: 15px;
				height: 15px;
				background-color: #1A1A1A;
				padding: 0;
				@media screen and (max-width: 768px) {
					width: 8px;
					height: 8px;
				}
				&.slick-active {
					background-color: #D0121B;
				}
				button {
					display: none;
				}
			}
		}
		img {
			&.pc {
				@media screen and (max-width: 768px) {
					display: none !important;
				}
			}
			&.sp {
				@media screen and (min-width: 769px) {
					display: none !important;
				}
			}
		}
	}
	.banner-content {
		position: absolute;
		@include v-align;
		left: 145px;
		@media screen and (max-width: 1366px) {
			left: 15px;
		}
		span {
			font-weight: 500;
			font-family: $font-mincho;
			&.en {
				@include font-size(48);
				@media screen and (max-width: 768px) {
					@include font-size(24);
				}
				&:after {
					display: inline-block;
					content: '　｜　';
					position: relative;
					top: -3px;
					@include font-size(30);
					@media screen and (max-width: 768px) {
						position: relative;
						top: -2px;
						@include font-size(15);
					}
				}
			}
			&.jp {
				position: relative;
				bottom: 3px;
				@include font-size(28);
				@media screen and (max-width: 768px) {
					@include font-size(14);
				}
			}
		}
	}
	&.page-company_outline, &.page-company_office {
		background: url("../img/company/outline/company-outline-bg.jpg") no-repeat left center;
		background-size: auto 100%;
		height: 200px;
		@media screen and (max-width: 768px) {
			background: url("../img/company/outline/company-outline-bg-sp.jpg") no-repeat right center;
			background-size: auto 100%;
		}
		@media screen and (max-width: 480px) {
			height: 100px;
		}
	}
	&.page-feature {
		background: url("../img/feature/feature-bg.jpg") no-repeat left center;
		background-size: cover;
		height: 200px;
		@media screen and (max-width: 768px) {
			background: url("../img/feature/feature-bg-sp.jpg") no-repeat right center;
			background-size: cover;
		}
		@media screen and (max-width: 480px) {
			height: 100px;
		}
	}
	&.page-sitemap {
		background: url("../img/sitemap/sitemap-bg.jpg") no-repeat left center;
		background-size: cover;
		height: 200px;
		@media screen and (max-width: 768px) {
			background: url("../img/sitemap/sitemap-bg-sp.jpg") no-repeat right center;
			background-size: cover;
		}
		@media screen and (max-width: 480px) {
			height: 100px;
		}
	}
	&.page-privacy {
		background: url("../img/privacy/privacy-bg.jpg") no-repeat left center;
		background-size: cover;
		height: 200px;
		@media screen and (max-width: 768px) {
			background: url("../img/privacy/privacy-bg-sp.jpg") no-repeat right center;
			background-size: cover;
		}
		@media screen and (max-width: 480px) {
			height: 100px;
		}
	}
	&.page-news {
		background: url("../img/news/news-bg.jpg") no-repeat left center;
		background-size: cover;
		height: 200px;
		@media screen and (max-width: 768px) {
			background: url("../img/news/news-bg-sp.jpg") no-repeat right center;
			background-size: cover;
		}
		@media screen and (max-width: 480px) {
			height: 100px;
		}
	}
}

.breadcrumb {
	padding: 8px 0;
	@media screen and (max-width: 768px) {
		display: none;
	}
	* {
		color: #000;
		text-align: right;
		@include font-size(14);
	}
	.fa {
		@include font-size(16);
	}
}

.page-navi {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	@media screen and (max-width: 768px) {
		margin-bottom: 0;
		margin-top: 10px;
	}
	.page-navi-link {
		position: relative;
		margin-right: 40px;
		&:last-of-type {
			margin-right: 0;
		}
		&:after {
			display: inline-block;
			content: '';
			width: 1px;
			height: 15px;
			background-color: black;
			position: absolute;
			@include v-align;
			right: -20px;
		}
		&:last-of-type {
			&:after {
				display: none;
			}
		}
		&.active {
			a {
				background-color: #D60000;
				color: white;
			}
		}
		a {
			display: inline-block;
			color: #000;
			@include font-size(16);
			padding: 10px 12px;
			text-align: center;
			@media screen and (max-width: 768px) {
				padding: 10px 19px;
			}
		}
	}
}

#menu-sp-btn {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 25px;
	right: 15px;
	width: 40px;
	height: 30px;
	@media screen and (max-width: 960px) {
		display: block;
	}
	@media screen and (max-width: 768px) {
		top: 20px;
	}
	span {
		display: block;
		width: 100%;
		height: 2px;
		background-color: #D0121B;
		margin-bottom: 12px;
		transition: transform .3s cubic-bezier(.175, .885, .32, 1.275) .1s, opacity .1s ease-in-out .1s, -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275) .1s;
		transform: translateZ(0);
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&.is-clicked {
		span {
			background-color: black;
			transition: transform .3s cubic-bezier(.175, .885, .32, 1.275) .1s, opacity .1s ease-in-out .1s, -webkit-transform .3s cubic-bezier(.175, .885, .32, 1.275) .1s;
			&:first-child {
				transform: translateY(14px) rotateZ(-135deg);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:last-child {
				transform: translateY(-14px) rotateZ(135deg);
			}
		}
	}
}

.img-link-boxes {
	margin: 0 -1% -2%;
	@media screen and (max-width: 768px) {
		margin: 0 !important;
	}
	.img-link-boxes-item {
		display: block;
		float: left;
		width: 32%;
		margin: 0 1% 2%;
		@media screen and (max-width: 768px) {
			width: 100%;
			margin: 0 !important;
			padding: 0 12px;
		}
		.img {
			margin-bottom: 15px;
			overflow: hidden;
			@media screen and (max-width: 768px) {
				text-align: center;
			}
			img {
				width: 100%;
				@include smooth-transition;
			}
		}
		.desc {
			* {
				text-align: center;
				color: #000;
				text-transform: uppercase;
				font-weight: 500;
				font-family: $font-mincho;
			}
			.jp {
				@include font-size(26);
				@media screen and (max-width: 768px) {
					@include font-size(16);
				}
			}
			.en {
				@include font-size(14);
				@media screen and (max-width: 768px) {
					@include font-size(10);
				}
			}
		}
		&:hover {
			.img {
				img {
					transform: scale(1.1);
					@include smooth-transition;
				}
			}
		}
	}
	.slick-arrow {
		@media screen and (max-width: 768px) {
			transform: translate(0, 0);
			top: auto;
			bottom: 0;
			color: transparent;
			background: url("../img/common/slick-arrows.png") no-repeat center center;
			width: 15px;
			height: 30px;
			background-size: 100% 100%;
			&:before, &:after {
				display: none;
			}
			&.slick-next {
				right: 50px;
			}
			&.slick-prev {
				left: 50px;
				transform: rotate(180deg) translate(0, 0);
				transform-origin: center center;
			}
		}
	}
}

.back-to-top {
	display: block;
	width: 30px;
	margin: 0 auto;
	img {
		width: 100%;
	}
	@media screen and (max-width: 768px) {
		width: 15px;
	}
}

.news-list {
	margin-bottom: 30px;
	@media screen and (max-width: 768px) {
		margin-bottom: 25px;
	}
	.news-list-item {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #E5E5E5;
		padding: 20px 0;
		&:last-of-type {
			border-bottom: none;
		}
		@media screen and (max-width: 768px) {
			flex-wrap: wrap;
			padding: 20px;
		}
		.info {
			display: flex;
			align-items: center;
			width: 230px;
			@media screen and (max-width: 768px) {
				width: 100%;
				margin-bottom: 12px;
			}
			.datetime {
				width: 100px;
				color: #1A1A1A;
				@include font-size(16);
			}
			.news-category {
				display: inline-block;
				text-align: center;
				@include font-size(16);
				width: 100px;
				height: 30px;
				line-height: 30px;
				&.blue {
					color: white;
					background-color: #3279E3;
				}
				&.red {
					color: white;
					background-color: #D0121B;
				}
			}
		}
		.title {
			width: calc(100% - 230px);
			@media screen and (max-width: 768px) {
				width: 100%;
			}
			a {
				color: #1A1A1A;
				@include font-size(16);
				@include smooth-transition;
				&:hover {
					color: #D60000;
					@include smooth-transition;
				}
			}
		}
	}
}

.row {
	display: flex;
	@media screen and (max-width: 768px) {
		flex-wrap: wrap;
	}
	.col50 {
		width: 50%;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}

.products-category {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 768px) {
		flex-wrap: wrap;
	}
	.products-category-item {
		position: relative;
		overflow: hidden;
		.txt {
			position: absolute;
			color: #000;
			&.txt-pos-bottom {
				bottom: 0;
				padding-bottom: 7%;
			}
			&.txt-pos-left {
				left: 0;
				padding-left: 10%;
				padding-right: 5%;
			}
			&.txt-pos-top {
				top: 0;
				padding-top: 7%;
			}
			&.txt-pos-right {
				right: 0;
				padding-right: 10%;
				padding-left: 5%;
			}
			.en, .jp {
				font-family: $font-mincho;
				font-weight: 500;
			}
			.jp {
				@include font-size(22);
				@media screen and (max-width: 768px) {
					@include font-size(16);
				}
			}
			.en {
				@include font-size(14);
				@media screen and (max-width: 768px) {
					@include font-size(10);
				}
			}
		}
		img {
			@include smooth-transition;
		}
		&:hover {
			img {
				transform: scale(1.1);
				@include smooth-transition;
			}
		}
	}
	&.style-sm {
		.products-category-item {
			width: 25%;
			//padding-top: 25%;
			border: 1px solid #EBEBEB;
			@media screen and (max-width: 768px) {
				width: 50%;
				//padding-top: 50%;
			}
			//&.category01 {
			//	background: url("../img/index/category01.jpg") no-repeat center center;
			//	background-size: cover;
			//}
			//&.category02 {
			//	background: url("../img/index/category02.jpg") no-repeat center center;
			//	background-size: cover;
			//}
			//&.category03 {
			//	background: url("../img/index/category03.jpg") no-repeat center center;
			//	background-size: cover;
			//}
			//&.category04 {
			//	background: url("../img/index/category04.jpg") no-repeat center center;
			//	background-size: cover;
			//}
		}
	}
	&.style-lg {
		.products-category-item {
			width: 100%;
			//padding-top: 86%;
			//background: url("../img/index/category05.jpg") no-repeat center center;
			//background-size: cover;
		}
	}
	&.style-md {
		flex-wrap: wrap;
		.products-category-item {
			width: 100%;
			//padding-top: 43%;
			//&.category01 {
			//	background: url("../img/index/category06.jpg") no-repeat center center;
			//	background-size: cover;
			//}
			//&.category02 {
			//	background: url("../img/index/category07.jpg") no-repeat center center;
			//	background-size: cover;
			//}
		}
	}
}

/* ====================================================
Typography
==================================================== */
.section-ttl {
	&.section-ttl-style01 {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		@media screen and (max-width: 768px) {
			padding-left: 20px;
			margin-bottom: 15px;
		}
		span {
			color: #000;
			font-family: $font-mincho;
			font-weight: 500;
			&.jp {
				@include font-size(26);
				position: relative;
				@media screen and (max-width: 768px) {
					@include font-size(21);
				}
				&:after {
					display: inline-block;
					content: '　｜　';
				}
			}
			&.en {
				@include font-size(16);
				@media screen and (max-width: 768px) {
					@include font-size(14);
				}
			}
		}
	}
	&.section-ttl-style02 {
		display: flex;
		align-items: center;
		border-left: 5px solid #D60000;
		padding-left: 28px;
		margin-bottom: 20px;
		span {
			color: #D60000;
			&.jp {
				font-weight: bold;
				@include font-size(24);
				@media screen and (max-width: 768px) {
					@include font-size(20);
				}
				&:after {
					display: inline-block;
					content: '　|　';
					font-weight: normal;
					position: relative;
					@include font-size(12);
					top: -5px;
				}
			}
			&.en {
				@include font-size(12);
			}
		}
	}
}

// Alignment
.txt-center {
	text-align: center;
}

.txt-left {
	text-align: left;
}

.txt-right {
	text-align: right;
}

.txt-justify {
	text-align: justify;
}

// Styling
.txt-red {
	color: #D0121B;
}

.txt-heading {
	color: #000;
	@include font-size(28);
	font-family: $font-mincho;
	font-weight: 500;
	line-height: 1.8;
	@media screen and (max-width: 768px) {
		@include font-size(23);
	}
	&.txt-heading-lg {
		@media screen and (min-width: 769px) {
			line-height: 1.6;
			margin-bottom: 10px;
			@include font-size(34);
		}
		@media screen and (max-width: 768px) {
			margin-bottom: 10px;
		}
	}
}

// Sizing
.txt-basic {
	line-height: 1.6;
	@include font-size(16);
	&.txt-basic-lh2 {
		line-height: 2;
		margin-bottom: 30px;
		@media screen and (max-width: 768px) {
			line-height: 1.8;
			margin-bottom: 20px;
		}
	}
}

/* ====================================================
Buttons, input, .etc
==================================================== */
.icon {
	display: inline-block;
	content: '';
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	&.icon-link-ext {
		background-image: url("../img/common/ext-link-icon.png");
		width: 16px;
		height: 13px;
		margin: 0 10px;
	}
}

.btn {
	display: inline-block;
	padding: 25px 110px;
	background-color: #fff;
	border: 1px solid #E5E5E5;
	color: #000;
	@include font-size(26);
	font-family: $font-mincho;
	position: relative;
	@include smooth-transition;
	&:hover {
		box-shadow: 0 0 20px rgba(0, 0, 0, .3);
		@include smooth-transition;
	}
	@media screen and (max-width: 768px) {
		padding: 15px 75px;
		@include font-size(16);
	}
	&.btn-arrow-01 {
		&:after {
			display: inline-block;
			content: '';
			background: url("../img/common/arrow-right-01.png") no-repeat center center;
			width: 5px;
			height: 10px;
			background-size: 100% 100%;
			position: absolute;
			@include v-align;
			right: 40px;
		}
	}
}

.slick-slide {
	&:focus, a {
		outline: none;
	}
}

a[href^="tel:"] {
	@media screen and (min-width: 769px) {
		pointer-events: none;
	}
}