.sitemap-section {
	padding-top: 20px;
	@media screen and (max-width: 768px) {
		padding-top: 0;
	}
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #E5E5E5;
		padding: 30px 0;
		@media screen and (max-width: 768px) {
			padding: 0;
			border-bottom: none;
			flex-wrap: wrap;
		}
		&:last-of-type {
			border-bottom: none;
			li {
				@media screen and (max-width: 768px) {
					&:last-of-type {
						border-bottom: none;
					}
				}
			}
		}
		li {
			margin-right: 100px;
			position: relative;
			@media screen and (max-width: 768px) {
				width: 100%;
				text-align: center;
				margin-right: 0;
				border-bottom: 1px solid #E5E5E5;
			}
			&:after {
				display: block;
				content: '｜';
				@include font-size(16);
				position: absolute;
				@include v-align;
				right: -50px;
				@media screen and (max-width: 768px) {
					display: none;
				}
			}
			&:last-of-type {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
			a {
				color: #000;
				@include font-size(16);
				@include smooth-transition;
				@media screen and (max-width: 768px) {
					display: block;
					padding: 25px 0;
				}
				&[target="_blank"] {
					&:after {
						display: inline-block;
						content: '';
						background: url("../img/common/ext-link-icon-red.png") no-repeat center center;
						background-size: 100% 100%;
						width: 15px;
						height: 12px;
						margin-left: 5px;
					}
				}
				&:hover {
					color: #d60000;
					@include smooth-transition;
				}
			}
		}
	}
}