<footer id="main-footer">
	<div class="container">
		<div class="sitemap">
			<ul>
				<li><a href="<%= RELATIVE_PATH %>index.html">HOME</a></li>
				<li><a href="<%= RELATIVE_PATH %>company/outline">企業情報</a></li>
				<li><a href="<%= RELATIVE_PATH %>feature">特徴と強み</a></li>
				<li><a href="<%= RELATIVE_PATH %>product">製品情報</a></li>
				<li><a href="" target="_blank">採用情報</a></li>
				<li><a href="<%= RELATIVE_PATH %>contact">お問い合わせ</a></li>
			</ul>
			<ul>
				<li><a href="<%= RELATIVE_PATH %>news">お知らせ</a></li>
				<li><a href="<%= RELATIVE_PATH %>privacy">プライバシーポリシー</a></li>
				<li><a href="<%= RELATIVE_PATH %>sitemap">サイトマップ</a></li>
			</ul>
		</div>
		<div class="logo">
			<a href="<%= RELATIVE_PATH %>index.html">
				<img src="<%= RELATIVE_PATH %>img/common/ft-logo.png" alt="ft logo">
			</a>
		</div>
		<div class="company-contact">
			<p>
				<span class="block-sp txt-head">名古屋事業所</span>
				<span class="pc">:</span>
				<span class="block-sp">〒470-0151 愛知県愛知郡東郷町<br class="sp">大字諸輪字尼ヶ根34-8</span>
				Tel <a href="tel:0561-38-2221">0561-38-2221</a>
				Fax 0561-38-2249
			</p>
			<p>
				<span class="block-sp txt-head">浜松事業所</span>
				<span class="pc">:</span>
				<span class="block-sp">〒431-3101 静岡県浜松市東区豊町3226-1</span>
				Tel <a href="tel:0534353111">053-435-3111</a>
				Fax 053-435-0502
			</p>
			<p>
				<span class="block-sp txt-head">東名工場</span>
				<span class="pc">:</span>
				<span class="block-sp">〒470-0151 愛知県愛知郡東郷町<br class="sp">大字諸輪字池上23-1</span>
				Tel <a href="tel:0561763850">0561-76-3850</a>
				Fax 0561-38-3522
			</p>
		</div>
		<div class="company-desc">
			合成樹脂部品（遊技台部品、美容機器、その他）を開発、設計、生産、販売。<br class="sp">
			単品部品の加工から他の素材部品を含んでの複合品の生産・組立。
		</div>
		<a href="#" class="back-to-top smooth-scroll">
			<img src="<%= RELATIVE_PATH %>img/common/back-to-top.png" alt="back-to-top">
		</a>
		<div class="copyright">
			© 2018 Daikoh Kagaku Co.,Ltd.
		</div>
	</div>
</footer>