<header id="main-header">
	<div class="container container-lg">
		<div class="logo">
			<a href="<%= RELATIVE_PATH %>index.html">
				<img src="<%= RELATIVE_PATH %>img/common/hd-logo.png" alt="logo">
			</a>
		</div>
		<nav class="nav-container">
			<ul class="global-nav">
				<li class="sp"><a href=""><strong>HOME</strong></a></li>
				<li>
					<a href="<%= RELATIVE_PATH %>company/outline" <% if (pageData.template == "company_outline" || pageData.template == "company_office"){ %>class="current"<% } %>>
						<strong>企業情報</strong>
					</a>
				</li>
				<li>
					<a href="<%= RELATIVE_PATH %>feature" <% if (pageData.template == "feature"){ %>class="current"<% } %>><strong>特徴と強み</strong></a>
				</li>
				<li>
					<a href="<%= RELATIVE_PATH %>product"><strong>製品情報</strong></a>
				</li>
				<li>
					<a href="" target="_blank"><strong>採用情報</strong></a></li>
				<li class="sp"><a href="<%= RELATIVE_PATH %>news">お知らせ</a></li>
				<li class="sp"><a href="<%= RELATIVE_PATH %>contact">お問い合わせ</a></li>
				<li class="sp"><a href="<%= RELATIVE_PATH %>privacy">プライバシーポリシー</a></li>
				<li class="sp"><a href="<%= RELATIVE_PATH %>sitemap">サイトマップ</a></li>
			</ul>
			<a href="<%= RELATIVE_PATH %>contact.html" class="cta">
				お問い合わせ
			</a>
		</nav>
		<a href="" id="menu-sp-btn">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
</header>