<main class="page-content page-<%= pageData.template %>">
	<section class="main-banner page-<%= pageData.template %>">
		<div class="container container-md">
			<h1 class="banner-content">
				<span class="en">Company</span><span class="jp">企業情報</span>
			</h1>
		</div>
	</section>
	<% include common/_breadcrumb.ejs %>
	<ul class="page-navi">
		<li class="page-navi-link">
			<a href="<%= RELATIVE_PATH %>company/outline">ご挨拶・理念・会社情報</a>
		</li>
		<li class="page-navi-link active">
			<a href="<%= RELATIVE_PATH %>company/office">事業所案内</a>
		</li>
	</ul>
	<section class="company-office-section-01">
		<div class="container container-sm">
			<div class="block-intro" id="nagoya-office">
				<h2 class="section-ttl section-ttl-style02">
					<span class="jp">名古屋事業所</span><span class="en">NAGOYA OFFICE</span>
				</h2>
				<div class="office-intro-article">
					<div class="office-intro-ttl">
						エクステリア製品、道路関連製品、精密製品の<br class="pc">［企画・開発・試作・試験・量産］までをトータルプロデュース。
					</div>
					<div class="office-intro-content clearfix">
						<div class="img-block">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/company/office/office-01.jpg" alt="office">
							</div>
						</div>
						<div class="detail-block">
							<ul class="list">
								<li class="list-item">
									営業課／開発設計課／経理部
								</li>
								<li class="list-item">
									〒470-0151愛知県愛知郡東郷町大字諸輪字尼ヶ根34-8
								</li>
								<li class="list-item">
									Tel. <a href="tel:0561382221">0561-38-2221</a>
								</li>
								<li class="list-item">
									Fax. 0561-38-2249
								</li>
							</ul>
						</div>
					</div>
					<div class="office-intro-maps">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3264.0947616884177!2d137.05888261524305!3d35.10434458033285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003617c569af5c5%3A0xa72e5449e5307a2f!2zQW1hZ2FuZS0zNC04IE1vcm93YSwgVMWNZ8WNLWNoxY0sIEFpY2hpLWd1biwgQWljaGkta2VuIDQ3MC0wMTUxLCBOaOG6rXQgQuG6o24!5e0!3m2!1svi!2s!4v1527328782062"
								width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						<a href="https://goo.gl/maps/RD8TfNEpHmn" class="maps-link">大きい地図をみる</a>
					</div>
				</div>
			</div>
			<div class="block-intro" id="hamamatsu-office">
				<h2 class="section-ttl section-ttl-style02">
					<span class="jp">浜松事業所</span><span class="en">HAMAMATSU OFFICE</span>
				</h2>
				<div class="office-intro-article">
					<div class="office-intro-ttl">
						精密製品の［企画・開発・試作・試験・量産］までをトータルプロデュース。<br class="pc">エクステリア製品道路関連製品・精密製品などの量産成形＆アセンブリーを行っています。
					</div>
					<div class="office-intro-content clearfix">
						<div class="img-block">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/company/office/office-02.jpg" alt="office">
							</div>
						</div>
						<div class="detail-block">
							<ul class="list">
								<li class="list-item">営業部／製造部／技術部 品質保証課／技術部 生産技術課／総務部／組立課</li>
								<li class="list-item">〒431-3101 静岡県浜松市東区豊町3226-1</li>
								<li class="list-item">Tel. <a href="tel:0534353111">053-435-3111</a></li>
								<li class="list-item">Fax. 053-435-0502</li>
							</ul>
						</div>
					</div>
					<div class="office-specs-list">
						<div class="ttl">成形機仕様一覧</div>
						<div class="table-scrollsp">
							<table class="table table02">
								<colgroup>
									<col width="25%">
									<col width="25%">
									<col width="25%">
									<col width="25%">
								</colgroup>
								<thead>
								<tr>
									<th>メーカー</th>
									<th>機種</th>
									<th>型締め形式</th>
									<th>型締め力（ton)</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>東芝</td>
									<td>IF170FAI-5</td>
									<td>直圧</td>
									<td>168</td>
								</tr>
								<tr>
									<td>東芝</td>
									<td>EC220N II-8Y</td>
									<td>トグル</td>
									<td>220</td>
								</tr>
								<tr>
									<td>東洋</td>
									<td>TM-350G2td</td>
									<td>トグル</td>
									<td>350</td>
								</tr>
								<tr>
									<td>住友</td>
									<td>P40X25A</td>
									<td>トグル</td>
									<td>25</td>
								</tr>
								<tr>
									<td>東芝</td>
									<td>EC100N II-3AV</td>
									<td>トグル</td>
									<td>100</td>
								</tr>
								<tr>
									<td>東洋</td>
									<td>Si-130III</td>
									<td>トグル</td>
									<td>130</td>
								</tr>
								<tr>
									<td>住友</td>
									<td>M-23/15</td>
									<td>直圧</td>
									<td>15</td>
								</tr>
								<tr>
									<td>住友</td>
									<td>P40X25A</td>
									<td>直圧</td>
									<td>25</td>
								</tr>
								<tr>
									<td>ソディック</td>
									<td>TR-40EH2</td>
									<td>直圧</td>
									<td>40</td>
								</tr>
								<tr>
									<td>東洋</td>
									<td>Si-50III</td>
									<td>トグル</td>
									<td>50</td>
								</tr>
								<tr>
									<td>東洋</td>
									<td>Si-100</td>
									<td>トグル</td>
									<td>100</td>
								</tr>
								<tr>
									<td>ファナック</td>
									<td>C-30A</td>
									<td>トグル</td>
									<td>30</td>
								</tr>
								<tr>
									<td>東洋</td>
									<td>Ti-50G2</td>
									<td>トグル</td>
									<td>50</td>
								</tr>
								<tr>
									<td>東洋</td>
									<td>TM-100G2</td>
									<td>トグル</td>
									<td>100</td>
								</tr>
								<tr>
									<td>住友</td>
									<td>SH50-NIV</td>
									<td>直圧</td>
									<td>50</td>
								</tr>
								<tr>
									<td>住友</td>
									<td>M-26/18</td>
									<td>直圧</td>
									<td>18</td>
								</tr>
								<tr>
									<td>東洋</td>
									<td>Si-80III</td>
									<td>トグル</td>
									<td>80</td>
								</tr>
								<tr>
									<td>ソディック</td>
									<td>Si-100II</td>
									<td>トグル</td>
									<td>100</td>
								</tr>
								<tr>
									<td>ソディック</td>
									<td>TR-30EH2</td>
									<td>直圧</td>
									<td>30</td>
								</tr>
								<tr>
									<td>東洋</td>
									<td>Si-30III</td>
									<td>トグル</td>
									<td>30</td>
								</tr>
								<tr>
									<td>東芝</td>
									<td>EC40N II-1Y</td>
									<td>トグル</td>
									<td>40</td>
								</tr>
								<tr>
									<td>東芝</td>
									<td>EC40N II-1Y</td>
									<td>トグル</td>
									<td>40</td>
								</tr>
								<tr>
									<td>日精</td>
									<td>TH60R5VSE</td>
									<td>直圧</td>
									<td>直圧</td>
								</tr>
								<tr>
									<td>日精</td>
									<td>TH40-5VSE</td>
									<td>直圧</td>
									<td>60</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="office-intro-maps">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.5578635729757!2d137.80870431552862!3d34.76672888041762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601ae10656bbcd4d%3A0xd22035f98422b965!2s3226-1+Yutakach%C5%8D%2C+Higashi-ku%2C+Hamamatsu-shi%2C+Shizuoka-ken+431-3101%2C+Japan!5e0!3m2!1svi!2s!4v1527329270549"
								width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						<a href="https://goo.gl/maps/AWc58e54WbS2" class="maps-link">大きい地図をみる</a>
					</div>
				</div>
			</div>
			<div class="block-intro" id="tomei-office">
				<h2 class="section-ttl section-ttl-style02">
					<span class="jp">東名工場</span><span class="en">TOMEI OFFICE</span>
				</h2>
				<div class="office-intro-article">
					<div class="office-intro-ttl">
						大型、中型、などの量産成形、製品の組立、検査、試験、<br class="pc">完成品の出荷までを行っています。
					</div>
					<div class="office-intro-content clearfix">
						<div class="img-block">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/company/office/office-03.jpg" alt="office">
							</div>
						</div>
						<div class="detail-block">
							<ul class="list">
								<li class="list-item">製造部 成形／生産管理課／品質保証課</li>
								<li class="list-item">〒470-0151愛知県愛知郡東郷町大字諸輪字池上23-1</li>
								<li class="list-item">Tel. <a href="tel:0561763850">0561-76-3850</a></li>
								<li class="list-item">Fax. 0561-38-3522</li>
							</ul>
						</div>
					</div>
					<div class="office-specs-list">
						<div class="ttl">成形機仕様一覧</div>
						<div class="table-scrollsp">
							<table class="table table02">
								<colgroup>
									<col width="33.3333%">
									<col width="33.3333%">
									<col width="33.3333%">
								</colgroup>
								<thead>
								<tr>
									<th>メーカー</th>
									<th>機種</th>
									<th>型締め力（ton)</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>ファナック</td>
									<td>Ｓ-2000i 300B</td>
									<td>300</td>
								</tr>
								<tr>
									<td>東洋</td>
									<td>si-680ⅢＷ</td>
									<td>680</td>
								</tr>
								<tr>
									<td>東洋</td>
									<td>si-680ⅢＷ</td>
									<td>680</td>
								</tr>
								<tr>
									<td>三菱</td>
									<td>450ＭＭⅡ-60</td>
									<td>450</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="office-intro-maps">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3264.016792035521!2d137.08310821553647!3d35.10629158033237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600361a7aed085a7%3A0xc8fc6e810658d745!2sIkegami-23-1+Morowa%2C+T%C5%8Dg%C5%8D-ch%C5%8D%2C+Aichi-gun%2C+Aichi-ken+470-0151%2C+Japan!5e0!3m2!1svi!2s!4v1527330909107"
								width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						<a href="https://goo.gl/maps/mC4ayiaBXQL2" class="maps-link">大きい地図をみる</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<ul class="page-navi">
		<li class="page-navi-link">
			<a href="<%= RELATIVE_PATH %>company/outline">ご挨拶・理念・会社情報</a>
		</li>
		<li class="page-navi-link active">
			<a href="<%= RELATIVE_PATH %>company/office">事業所案内</a>
		</li>
	</ul>
</main>