<main class="page-content page-<%= pageData.template %>">
	<section class="main-banner page-<%= pageData.template %>">
		<div class="container container-md">
			<h1 class="banner-content">
				<span class="en">Company</span><span class="jp">企業情報</span>
			</h1>
		</div>
	</section>
	<% include common/_breadcrumb.ejs %>
	<ul class="page-navi">
		<li class="page-navi-link active">
			<a href="<%= RELATIVE_PATH %>company/outline">ご挨拶・理念・会社情報</a>
		</li>
		<li class="page-navi-link">
			<a href="<%= RELATIVE_PATH %>company/office">事業所案内</a>
		</li>
	</ul>
	<section class="company-outline-section-01 bg-gray">
		<div class="container container-sm">
			<h2 class="section-ttl section-ttl-style02">
				<span class="jp">ご挨拶</span><span class="en">GREETINGS FROM CEO</span>
			</h2>
			<ul class="company-intro">
				<li class="company-intro-article">
					<div class="company-intro-ttl">
						ダミータイトル斬新で高品質の商品とサービスを提供します。
					</div>
					<div class="company-intro-content clearfix">
						<div class="detail-block">
							<p class="txt-basic txt-justify">
								この文章はダミーです。代表のご挨拶は４００文字程度くらい描いていただけるといいと思います。お手数ですが、後藤社長ご本人にご執筆いただくか、山内様が代筆される感じがよろしいかと思います。最近のWebサイトはテキストが少なめがトレンドですが、代表のメッセージは大体それくらい書かれていることが一般的だからです。ダイコー化学工業株式会社は、後藤文男（現会長）の斬新なアイデア・高品質なモノづくり、人を想うサービスの精神から、昭和44年に設立されました。創業時より理念にも掲げてきました「斬新」「高品質」のキーワードに加え、地球規模のキーワードでもある「環境」にも積極的に取り組んでおります。全従業員がお客様の笑顔を目指し、これからも『お客様から信頼され、発展し選ばれる企業』を目指してまいります。これで、大体360文字程度になります。
							</p>
							<p class="info-person pc">
								取締役社長<span class="txt-lg">後藤 秀幸</span>
							</p>
						</div>
						<div class="img-block">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/company/outline/company-chairman-01.jpg" alt="">
							</div>
							<p class="info-person sp">
								取締役社長<span class="txt-lg">後藤 秀幸</span>
							</p>
						</div>
					</div>
				</li>
				<li class="company-intro-article">
					<div class="company-intro-ttl">
						ダミータイトル斬新で高品質の商品とサービスを提供します。
					</div>
					<div class="company-intro-content clearfix">
						<div class="detail-block">
							<p class="txt-basic txt-justify">
								この文章はダミーです。代表のご挨拶は４００文字程度くらい描いていただけるといいと思います。お手数ですが、後藤社長ご本人にご執筆いただくか、山内様が代筆される感じがよろしいかと思います。最近のWebサイトはテキストが少なめがトレンドですが、代表のメッセージは大体それくらい書かれていることが一般的だからです。ダイコー化学工業株式会社は、後藤文男（現会長）の斬新なアイデア・高品質なモノづくり、人を想うサービスの精神から、昭和44年に設立されました。創業時より理念にも掲げてきました「斬新」「高品質」のキーワードに加え、地球規模のキーワードでもある「環境」にも積極的に取り組んでおります。全従業員がお客様の笑顔を目指し、これからも『お客様から信頼され、発展し選ばれる企業』を目指してまいります。これで、大体360文字程度になります。
							</p>
							<p class="info-person pc">
								相談役」<span class="txt-lg">後藤 文男</span>
							</p>
						</div>
						<div class="img-block">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/company/outline/company-chairman-02.jpg" alt="">
							</div>
							<p class="info-person sp">
								相談役」<span class="txt-lg">後藤 文男</span>
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="company-outline-section-02">
		<div class="container container-sm">
			<div class="block-intro">
				<h2 class="section-ttl section-ttl-style02">
					<span class="jp">経営理念</span><span class="en">PHILOSOPHY</span>
				</h2>
				<p class="txt-heading">
					我が社は、環境保全に貢献し、お客様に斬新で高付加価値、高品質の商品と、<br>
					サービスを提供し続ける事で信頼を得、安定的に発展する、企業を目指す。
				</p>
			</div>
			<div class="block-intro">
				<h2 class="section-ttl section-ttl-style02">
					<span class="jp">経営指針</span><span class="en">ACTION POLICY</span>
				</h2>
				<ul class="list list01">
					<li class="list-item">
						<p class="txt-heading">
							- 開発指向
						</p>
						<p class="txt-basic">
							私達は、お客様のニーズを先取りした斬新かつ価値のある商品をタイムリーに提供し続けます。
						</p>
					</li>
					<li class="list-item">
						<p class="txt-heading">
							- 品質至上
						</p>
						<p class="txt-basic">
							私達は、物の品質、仕事の品質を大切にします。
						</p>
					</li>
					<li class="list-item">
						<p class="txt-heading">
							- 顧客至上
						</p>
						<p class="txt-basic">
							私達は、常に、お客様の満足を第一に考えます。
						</p>
					</li>
					<li class="list-item">
						<p class="txt-heading">
							- バランス優先
						</p>
						<p class="txt-basic">
							私達は、個人の能力、部門の能力など、すべてにおいてベストバランスを目指します。
						</p>
					</li>
					<li class="list-item">
						<p class="txt-heading">
							- 人間主義
						</p>
						<p class="txt-basic">
							私達は、人を大切にし、和を大切にする人間集団となります。
						</p>
					</li>
				</ul>
			</div>
			<div class="block-intro">
				<h2 class="section-ttl section-ttl-style02">
					<span class="jp">会社概要</span><span class="en">OUTLINE</span>
				</h2>
				<table class="table table01">
					<colgroup>
						<col width="80">
					</colgroup>
					<tbody>
					<tr>
						<th>名称</th>
						<td>ダイコー化学工業株式会社</td>
					</tr>
					<tr>
						<th>創業</th>
						<td>昭和42年6月</td>
					</tr>
					<tr>
						<th>設立</th>
						<td>昭和44年8月</td>
					</tr>
					<tr>
						<th>資本金</th>
						<td>1,000万円</td>
					</tr>
					<tr>
						<th>売上高</th>
						<td>92億4500万円（2017年5月期実績）</td>
					</tr>
					<tr>
						<th>役員</th>
						<td>
							代表取締役会長 後藤 文男 <br>
							取締役社長　後藤秀幸
						</td>
					</tr>
					<tr>
						<th>事業内容</th>
						<td>合成樹脂製品の製造・販売事業　合成樹脂部品の開発、設計、生産、販売。単品部品の加工、複合品の生産・組立。</td>
					</tr>
					<tr>
						<th>所在地</th>
						<td>
							【 本社・浜松事業所 】<br>
							〒431-3101　静岡県浜松市東区豊町3226-1<br>
							Tel. 053-435-3111 / Fax. 053-435-0502<br>
							【 名古屋事業所 】<br>
							〒470-0151 愛知県愛知郡東郷町大字諸輪字尼ヶ根34-8<br>
							Tel. 0561-38-2221 / Fax. 0561-38-2249<br>
							【 東名工場 】<br>
							〒470-0151 愛知県愛知郡東郷町大字諸輪字池上23-1<br>
							Tel. 0561-76-3850 /　Fax. 0561-38-3522
						</td>
					</tr>
					<tr>
						<th>社員数</th>
						<td>182名（2017年5月時点）</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="block-intro">
				<h2 class="section-ttl section-ttl-style02">
					<span class="jp">沿革</span><span class="en">HISTORY</span>
				</h2>
				<table class="table table01">
					<colgroup>
						<col width="75">
						<col width="50">
					</colgroup>
					<tbody>
					<tr>
						<th>1967年</th>
						<th>6月</th>
						<td>愛知県豊明市に於いて、後藤文男がゼンゴー樹脂工業所として、プラスチック成型の個人事業を創業</td>
					</tr>
					<tr>
						<th rowspan="2">1969年</th>
						<th>8月</th>
						<td>静岡県浜松市十軒町に於いてダイコー化学工業株式会社を資本金750万円にて設立</td>
					</tr>
					<tr>
						<th></th>
						<td>愛知県豊明市を名古屋事業所として販売の拠点とする</td>
					</tr>
					<tr>
						<th>1976年</th>
						<th>1月</th>
						<td>名古屋事業所を愛知県愛知郡東郷町に移転</td>
					</tr>
					<tr>
						<th rowspan="2">1981年</th>
						<th>2月</th>
						<td>組立部門を独立させて浜松市葵町に有限会社ダイコーアッセンブリーを設立</td>
					</tr>
					<tr>
						<th>10月</th>
						<td>本社工場にて精密成型を目的とした成型機を増設し、エンプラ部品の成型を開始</td>
					</tr>
					<tr>
						<th>1987年</th>
						<th>3月</th>
						<td>名古屋事業所に於いて、エクステリア用部品、資材の製造販売を開始</td>
					</tr>
					<tr>
						<th>1983年</th>
						<th>12月</th>
						<td>本社工場を浜松市豊町の協同組合東豊センター内に移転。精密成型部品の増産体制を確立</td>
					</tr>
					<tr>
						<th>1993年</th>
						<th>7月</th>
						<td>資本金を1,000万円に増資</td>
					</tr>
					<tr>
						<th>1996年</th>
						<th>10月</th>
						<td>名古屋事業所を愛知県愛知郡東郷町の諸輪工業団地協同組合内に移転</td>
					</tr>
					<tr>
						<th>2011年</th>
						<th>3月</th>
						<td>東名工場設立</td>
					</tr>
					<tr>
						<th>2012年</th>
						<th>11月</th>
						<td>浜松、新工場増設</td>
					</tr>
					<tr>
						<th>2013年</th>
						<th>4月</th>
						<td>ソーラー発電システムの稼働開始</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<ul class="page-navi">
		<li class="page-navi-link active">
			<a href="<%= RELATIVE_PATH %>company/outline">ご挨拶・理念・会社情報</a>
		</li>
		<li class="page-navi-link">
			<a href="<%= RELATIVE_PATH %>company/office">事業所案内</a>
		</li>
	</ul>
</main>