<main class="page-content page-<%= pageData.template %>">
	<section class="main-banner page-<%= pageData.template %>">
		<div class="container container-md">
			<h1 class="banner-content">
				<span class="en">Feature</span><span class="jp">特徴と強み</span>
			</h1>
		</div>
	</section>
	<% include common/_breadcrumb.ejs %>
	<section class="feature-section-01">
		<div class="container container-sm">
			<h2 class="txt-heading txt-heading-lg">
				プラスチック・樹脂製品の<br class="pc">企画・開発、設計、製造、販売まで。<br class="pc">あらゆる業界の製品に一貫体制で対応いたします。
			</h2>
			<p class="txt-basic txt-basic-lh2">
				この文章はダミーであり実際のコピーとは異なりますこの文章はダミーであり実際のコピーとは異なりますこの文章はダミーであり実際のコピーとは異なりますこの文章はダミーであり実際のコピーとは異なりますこの文章はダミーであり実際のコピーと
			</p>
			<ul class="progress-box-intro">
				<li class="progress-box-intro-item">
					お問い合わせ
				</li>
				<li class="arrows"></li>
				<li class="progress-box-intro-item">
					企画、提案
				</li>
				<li class="arrows"></li>
				<li class="progress-box-intro-item">
					デザイン図、<br class="pc">試作図面制作
				</li>
				<li class="arrows"></li>
				<li class="progress-box-intro-item">
					最終形状決定<br class="pc">金型製作図面制作
				</li>
				<li class="arrows"></li>
				<li class="progress-box-intro-item">
					金型製作
				</li>
				<li class="arrows"></li>
				<li class="progress-box-intro-item">
					金型初回<br class="pc">試作品の検査
				</li>
				<li class="arrows"></li>
				<li class="progress-box-intro-item">
					製品の強度テスト
				</li>
				<li class="arrows"></li>
				<li class="progress-box-intro-item">
					量産成形・製品検査
				</li>
			</ul>
		</div>
	</section>
	<section class="feature-section-02">
		<div class="container container-sm">
			<h2 class="txt-heading txt-heading-lg">
				単品部品の加工から、他の素材部品を含んでの<br class="pc">複合品の生産・組立も承ります。
			</h2>
			<p class="txt-basic txt-basic-lh2">
				この文章はダミーであり実際のコピーとは異なりますこの文章はダミーであり実際のコピーとは異なりますこの文章はダミーであり実際のコピーとは異なりますこの文章はダミーであり実際のコピーとは異なりますこの文章はダミーであり実際のコピーと
			</p>
			<div class="row">
				<div class="col50">
					<img src="<%= RELATIVE_PATH %>img/feature/feature-img-01.jpg" alt="feature 01">
				</div>
				<div class="col50">
					<img src="<%= RELATIVE_PATH %>img/feature/feature-img-02.jpg" alt="feature 02">
				</div>
			</div>
		</div>
	</section>
</main>