<main class="page-content page-<%= pageData.template %>">
	<section class="main-banner page-<%= pageData.template %>">
		<ul class="main-slideshow">
			<li>
				<img src="<%= RELATIVE_PATH %>img/index/slide01.jpg" alt="" class="pc">
				<img src="<%= RELATIVE_PATH %>img/index/slide01-sp.png" alt="" class="sp">
			</li>
			<li>
				<img src="<%= RELATIVE_PATH %>img/index/slide02.jpg" alt="" class="pc">
				<img src="<%= RELATIVE_PATH %>img/index/slide02-sp.png" alt="" class="sp">
			</li>
			<li>
				<img src="<%= RELATIVE_PATH %>img/index/slide03.jpg" alt="" class="pc">
				<img src="<%= RELATIVE_PATH %>img/index/slide03-sp.png" alt="" class="sp">
			</li>
		</ul>
		<div class="container container-lg">
			<a class="banner-cta" href="" target="_blank">
				<i class="icon icon-link-ext"></i> 採用サイトを見る
			</a>
		</div>
	</section>
	<section class="index-section-01">
		<div class="container container-md">
			<ul class="products-category style-sm">
				<li class="products-category-item category01">
					<a href="<%= RELATIVE_PATH %>product/index.html#product-exterior">
						<img src="<%= RELATIVE_PATH %>img/index/category01.jpg" alt="">
						<div class="txt txt-pos-bottom txt-pos-left">
							<p class="jp">エクステリア部品</p>
							<p class="en">EXTERIOR PRODUCTS</p>
						</div>
					</a>
				</li>
				<li class="products-category-item category02">
					<a href="<%= RELATIVE_PATH %>product/index.html#product-road">
						<img src="<%= RELATIVE_PATH %>img/index/category02.jpg" alt="">
						<div class="txt txt-pos-top txt-pos-left">
							<p class="jp">道路関連製品</p>
							<p class="en">ROAD PRODUCTS</p>
						</div>
					</a>
				</li>
				<li class="products-category-item category03">
					<a href="<%= RELATIVE_PATH %>product/index.html#product-precision">
						<img src="<%= RELATIVE_PATH %>img/index/category03.jpg" alt="">
						<div class="txt txt-pos-bottom txt-pos-left">
							<p class="jp">精密製品</p>
							<p class="en">PRECISION PRODUCT</p>
						</div>
					</a>
				</li>
				<li class="products-category-item category04">
					<a href="<%= RELATIVE_PATH %>product/index.html#product-other">
						<img src="<%= RELATIVE_PATH %>img/index/category04.jpg" alt="">
						<div class="txt txt-pos-top txt-pos-left">
							<p class="jp">その他の製品</p>
							<p class="en">OTHER PRODUCTS</p>
						</div>
					</a>
				</li>
			</ul>
			<div class="row">
				<div class="col50">
					<ul class="products-category style-lg">
						<li class="products-category-item">
							<a href="<%= RELATIVE_PATH %>company/outline">
								<img src="<%= RELATIVE_PATH %>img/index/category05.jpg" alt="">
								<div class="txt txt-pos-top txt-pos-right">
									<p class="jp">企業情報</p>
									<p class="en">COMPANY INFORMATION</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="col50">
					<ul class="products-category style-md">
						<li class="products-category-item category01">
							<a href="<%= RELATIVE_PATH %>feature">
								<img src="<%= RELATIVE_PATH %>img/index/category06.jpg" alt="">
								<div class="txt txt-pos-top txt-pos-right">
									<p class="jp">特徴と強み</p>
									<p class="en">FEATURES and STRENGTHS</p>
								</div>
							</a>
						</li>
						<li class="products-category-item category02">
							<a href="<%= RELATIVE_PATH %>" target="_blank">
								<img src="<%= RELATIVE_PATH %>img/index/category07.jpg" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="index-section-02 section-news">
		<div class="container container-md">
			<h2 class="section-ttl section-ttl-style01">
				<span class="jp">お知らせ</span><span class="en">NEWS</span>
			</h2>
			<ul class="news-list">
				<li class="news-list-item">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category blue">採用情報</span>
					</div>
					<div class="title">
						<a href="<%= RELATIVE_PATH %>news/detail">ソーラー発電システム、稼働開始。</a>
					</div>
				</li>
				<li class="news-list-item">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category red">お知らせ</span>
					</div>
					<div class="title">
						<a href="<%= RELATIVE_PATH %>news/detail">このタイトルはダミーです無料メール配信ページを公開しました。</a>
					</div>
				</li>
				<li class="news-list-item">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category blue">採用情報</span>
					</div>
					<div class="title">
						<a href="<%= RELATIVE_PATH %>news/detail">このタイトルはダミーです本日より配信登録の受付を開始します。</a>
					</div>
				</li>
			</ul>
			<div class="btn-container txt-center">
				<a href="<%= RELATIVE_PATH %>news" class="btn btn-arrow-01">
					お知らせ一覧
				</a>
			</div>
		</div>
	</section>
	<section class="index-section-03">
		<div class="container container-md">
			<ul class="img-link-boxes clearfix">
				<li class="img-link-boxes-item">
					<a href="<%= RELATIVE_PATH %>company/office/index.html#nagoya-office">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/index/img-link-box-01.jpg" alt="nagoya">
						</div>
						<div class="desc">
							<p class="jp">名古屋事業所</p>
							<p class="en">NAGOYA OFFICE</p>
						</div>
					</a>
				</li>
				<li class="img-link-boxes-item">
					<a href="<%= RELATIVE_PATH %>company/office/index.html#hamamatsu-office">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/index/img-link-box-02.jpg" alt="hamamatsu">
						</div>
						<div class="desc">
							<p class="jp">浜松事業所</p>
							<p class="en">HAMAMATSU OFFICE</p>
						</div>
					</a>
				</li>
				<li class="img-link-boxes-item">
					<a href="<%= RELATIVE_PATH %>company/office/index.html#tomei-office">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/index/img-link-box-03.jpg" alt="tomei">
						</div>
						<div class="desc">
							<p class="jp">東名工場</p>
							<p class="en">TOMEI PLANT</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
</main>