<main class="page-content page-<%= pageData.template %>">
	<section class="main-banner page-<%= pageData.template %>">
		<div class="container container-md">
			<h1 class="banner-content">
				<span class="en">News</span><span class="jp">お知らせ</span>
			</h1>
		</div>
	</section>
	<% include common/_breadcrumb.ejs %>
	<section class="news-list-section">
		<div class="container container-sm">
			<ul class="tab-list" datatype="filter-data">
				<li><a href="" data-filter="all" class="active">すべて</a></li>
				<li><a href="" data-filter="notice-news">お知らせ</a></li>
				<li><a href="" data-filter="recruitment-news">採用情報</a></li>
			</ul>
			<ul class="news-list">
				<li class="news-list-item recruitment-news">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category blue">採用情報</span>
					</div>
					<div class="title">
						<a href="<% RELATIVE_PATH %>detail">ソーラー発電システム、稼働開始。</a>
					</div>
				</li>
				<li class="news-list-item notice-news">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category red">お知らせ</span>
					</div>
					<div class="title">
						<a href="<% RELATIVE_PATH %>detail">このタイトルはダミーです無料メール配信ページを公開しました。</a>
					</div>
				</li>
				<li class="news-list-item recruitment-news">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category blue">採用情報</span>
					</div>
					<div class="title">
						<a href="<% RELATIVE_PATH %>detail">このタイトルはダミーです本日より配信登録の受付を開始します。</a>
					</div>
				</li>
				<li class="news-list-item notice-news">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category red">お知らせ</span>
					</div>
					<div class="title">
						<a href="<% RELATIVE_PATH %>detail">このタイトルはダミーです無料メール配信ページを公開しました。</a>
					</div>
				</li>
				<li class="news-list-item recruitment-news">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category blue">採用情報</span>
					</div>
					<div class="title">
						<a href="<% RELATIVE_PATH %>detail">このタイトルはダミーです本日より配信登録の受付を開始します。</a>
					</div>
				</li>
				<li class="news-list-item recruitment-news">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category blue">採用情報</span>
					</div>
					<div class="title">
						<a href="<% RELATIVE_PATH %>detail">ソーラー発電システム、稼働開始。</a>
					</div>
				</li>
				<li class="news-list-item notice-news">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category red">お知らせ</span>
					</div>
					<div class="title">
						<a href="<% RELATIVE_PATH %>detail">このタイトルはダミーです無料メール配信ページを公開しました。</a>
					</div>
				</li>
				<li class="news-list-item recruitment-news">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category blue">採用情報</span>
					</div>
					<div class="title">
						<a href="<% RELATIVE_PATH %>detail">このタイトルはダミーです本日より配信登録の受付を開始します。</a>
					</div>
				</li>
				<li class="news-list-item notice-news">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category red">お知らせ</span>
					</div>
					<div class="title">
						<a href="<% RELATIVE_PATH %>detail">このタイトルはダミーです無料メール配信ページを公開しました。</a>
					</div>
				</li>
				<li class="news-list-item recruitment-news">
					<div class="info">
						<time class="datetime">2018.3.30</time>
						<span class="news-category blue">採用情報</span>
					</div>
					<div class="title">
						<a href="<% RELATIVE_PATH %>detail">このタイトルはダミーです本日より配信登録の受付を開始します。</a>
					</div>
				</li>
			</ul>
			<ul class="pagination">
				<li class="pagination-item pagination-prev">
					<a href="">前の10件をみる</a>
				</li>
				<li class="pagination-item pagination-next">
					<a href="">次の10件をみる</a>
				</li>
			</ul>
		</div>
	</section>
</main>