<main class="page-content page-<%= pageData.template %>">
	<section class="main-banner page-<%= pageData.template %>">
		<div class="container container-md">
			<h1 class="banner-content">
				<span class="en">News</span><span class="jp">お知らせ</span>
			</h1>
		</div>
	</section>
	<% include common/_breadcrumb.ejs %>
</main>