<main class="page-content page-<%= pageData.template %>">
	<section class="main-banner page-<%= pageData.template %>">
		<div class="container container-md">
			<h1 class="banner-content">
				<span class="en">Privacy</span><span class="jp">プライバシーポリシー</span>
			</h1>
		</div>
	</section>
	<% include common/_breadcrumb.ejs %>
	<article class="articles">
		<div class="container container-sm">
			<p>
				ダイコー化学工業株式会社（以下、「当社」といいます。）は、個人情報の保護に関してその重要性を認識し、「個人情報の取り扱いに関する方針」を以下のとおり定め、業務に従事するすべての者は、個人情報を正確かつ安全に取り扱うことに努めます。
			</p>
			<br><br>
			<h2>個人情報取扱いに関する方針</h2>
			<p>
				当社は、個人情報保護に関する法令を遵守し、企業活動の上で取り扱う個人情報について、これを適切に管理、保護し、お客様が安心できる個人情報保護体制の運用・向上を目的として、プライバシーポリシーを以下のように定めます。
			</p>
			<br><br>
			<h3>1. 個人情報の定義</h3>
			<p>
				当社は、個人情報とは、「個人情報の保護に関する法律」に規定される生存する個人に関する情報であって、お客様の氏名や住所、メールアドレスなどの特定の個人を識別できる情報または個人識別符号が含まれる情報と認識しております。
			</p>
			<h3>2. 個人情報の収集、利用、提供</h3>
			<p>
				当社は、個人情報の収集・利用にあたり、お客様等に対し事前に目的を明らかにし、収集した個人情報の使用範囲を限定し、適切に取扱います。 また、お客様等の同意を事前に得た場合、又は法令により許された場合を除き、お客様等の個人情報を第三者に提供しません。 尚、お客様の個人情報を第三者に提供する場合、提供する情報は必要な範囲のみに限定し、提供先に対して契約等により個人情報の管理を義務付けるとともに、 適切な監督を行います。
			</p>
			<h3>3. プライバシー尊重</h3>
			<p>
				当社は、プライバシーを尊重し、当社が収集した個人情報に対し、開示、訂正、削除、利用停止を求められた時には、合理的な期間、妥当な範囲内でこれに応じます。
			</p>
			<h3>4. 法令等の遵守</h3>
			<p>
				当社は、お客様等の個人情報の取得、利用その他一切の取り扱いについて、個人情報の保護に関する法律、その他の関連法令 、及びこのプライバシーポリシーを遵守します。
			</p>
			<h3>5. 安全管理措置</h3>
			<p>
				当社は、お客様等の個人情報を正確かつ最新の内容に保つよう努めるとともに、不正なアクセス、改ざん、漏えい、滅失及び毀損から保護する 為、必要な安全管理措置を講じます。
			</p>
			<h3>6. 継続的改善</h3>
			<p>
				当社は、個人情報保護に関する内部規定の整備、従業員教育の実施などを通じて、社内における個人情報の取扱いについて継続的な改善に努めます。
			</p>
		</div>
	</article>
</main>