<main class="page-content page-<%= pageData.template %>">
	<section class="main-banner page-<%= pageData.template %>">
		<div class="container container-md">
			<h1 class="banner-content">
				<span class="en">Sitemap</span><span class="jp">サイトマップ</span>
			</h1>
		</div>
	</section>
	<% include common/_breadcrumb.ejs %>
	<section class="sitemap-section">
		<div class="container container-sm">
			<ul>
				<li><a href="<%= RELATIVE_PATH %>index.html">HOME</a></li>
			</ul>
			<ul>
				<li><a href="<%= RELATIVE_PATH %>company/outline">企業情報</a></li>
				<li><a href="<%= RELATIVE_PATH %>feature">特徴と強み</a></li>
				<li><a href="<%= RELATIVE_PATH %>product" target="_blank">製品情報</a></li>
			</ul>
			<ul>
				<li><a href="<%= RELATIVE_PATH %>">採用情報</a></li>
				<li><a href="<%= RELATIVE_PATH %>contact">お問い合わせ</a></li>
				<li><a href="<%= RELATIVE_PATH %>news">お知らせ</a></li>
			</ul>
			<ul>
				<li><a href="<%= RELATIVE_PATH %>privacy">プライバシーポリシー</a></li>
				<li><a href="<%= RELATIVE_PATH %>sitemap">サイトマップ</a></li>
			</ul>
		</div>
	</section>
</main>